// Font
$font-en: "Montserrat", sans-serif;
$font-kr: "Noto Sans", sans-serif;

// Color
$black-two: #111111;
$black-three: #222222;
$white: #fff;
$cerulean: #0565bb;

$goldenrod: #fccb05;
$sun-yellow: #fcd32a;
$bright-orange: #f96400;
$pumpkin-orange: #fa7b26;

$dark-brown: #110e03;
$pinkish-grey-Two: #ccc8c6;
$pumpkin-orange: #fa7b26;
$bright-orange-Two: #ff5500;

$greyish: #a9a9a9;
